div.exams-list{
	margin: 100px 200px;
}
div.exams-list table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: white;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin: 0 auto 20px;
}
div.exams-list table th{
	font-size: 18px;
	font-weight: bold;
	background: #d5d0d2;
	border-top: 4px solid #f5f6fe;
	border-bottom: 1px solid #fff;
	color: #5f5c65;
	padding: 8px;
	text-align: center;
}
div.exams-list table td{
	background: #fffdfd;
	border-bottom: 1px solid #fff;
	color: #3b3b3f;
	border-top: 1px solid transparent;
	padding: 8px;
}
div.exams-list table tr:hover td{
	background: #7dc3e9;
}
